
.header{
    background-color: black;
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 45vh;
    }

header div img{
    position: relative;
    width: 80%;
    height: auto;}

.main{
    display: grid;
    grid-template-columns: 1fr 1fr;}

.main div img{
    width: 100%;
    height:100%;}

.top{
    background: linear-gradient(rgb(202, 186, 186),rgb(122, 122, 122));
    text-align: center;}
.top h1{
    color: azure;}

.top h2{
    padding: 15%;}

.top h3{
    font-size: 130%;}

.main_p{
    background-color: rgb(114, 90, 90); 
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    width: 100%;
    height: 45vh;}

.tel{
    color: rgb(255, 255, 255);
    font-size: 150%;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: left;}

.tep img{
    width: 100%;
    height:auto;}

.tep{
    display: flex;
    justify-content: center;
    align-items: center;}

.tet{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 150%;}

.main_q{
    background-color: rgb(114, 114, 114); 
    display: grid;
    grid-template-columns: 1fr 1fr;
    width: 100%;
    height: 115vh;}

.ter p{
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 170%; }

.ter h1{
    font-size: 200%;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);}

.ter_w{
    width: 100%;
    height:100%;}


.ter_t{
    width: 100%;
    height: 95%;}

.main_w{  
    width: 100%;
    height: 50vh;
    background-color: rgb(114, 90, 90); 
    display: grid;
    grid-template-rows: 50% 50%;}

.main_w div h1{
    color: rgb(255, 255, 255);
    padding: 2%;
    font-size: 200%;
    text-align: center;}

.main_w div p{
    font-size: 200%;
    color: rgb(255, 255, 255);}

.main_w div{
    height: 100%;}

.main_w div img{
    height: 100%;}

.ter_A{
    width: 100%;
    display: flex;
    justify-content: center;}

.main_y{
    background-color: rgb(114, 114, 114); 
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 115vh; }

.main_y h1{
    font-size: 200%;
    display: flex;
    justify-content: center;
    color: rgb(255, 255, 255);}

.main_y p{
    font-size: 200%;
    color: rgb(255, 255, 255);}

.container{
    width: 60%;
    height: 70%;
    margin-left: 20%;
    display: flex;
    justify-content: space-around;
position: relative;
top: -50px;
z-index: 3;}

.container img{
    width: 55%;
    height: 100%;}

.footer{
    background-color: rgb(114, 90, 90); 
    display: grid;
    grid-template-rows: 1fr 1fr;
    width: 100%;
    height: 22vh;
font-size: 250%;}

a{
    text-decoration: none;
    text-align: center;
    display: flex;
    justify-content: center;
    padding: 1%;
    color: rgb(255, 255, 255);}

.ret{
    font-size: 50%;
    margin: 0%;
}

